$text-color-default: #222;
$text-color-hover: #777;
$border-default: 1px solid #aaa;
$border-focus: 1px solid #777;
$border-radius-default: 3px;

$table-row-odd-background-color: #fff;
$table-row-even-background-color: #efefef;
